<ActionBar title="Account Type">
    <NavigationButton (tap)="goback()" text="Accounts" android.systemIcon="ic_menu_back"></NavigationButton>
    <ActionItem (tap)="taptest()">
      <Button class="" text="&#xe905;" class="action-item icm"></Button>
    </ActionItem>
    <ActionItem (tap)="createAccount()" ios.position="right">
      <Button class="" text="&#xea0a;" class="action-item icm"></Button>
    </ActionItem>
</ActionBar>
<StackLayout>
    <Label *ngFor="let accountType of accountTypes"
        class="far sectionItems pad20"
        [text]="accountType.name"
    ></Label>
</StackLayout>

