<MDBottomNavigation selectedIndex="0" (selectedIndexChanged)='onSelectedIndexChanged'>
  <MDTabStrip>
    <MDTabStripItem>
      <Label text="Book"></Label>
      <Image src="font://&#xe91f;" class="icm"></Image>
    </MDTabStripItem>
    <MDTabStripItem>
      <Label text="Stats"></Label>
      <Image src="font://&#xe99c;" class="icm"></Image>
    </MDTabStripItem>
    <MDTabStripItem>
      <Label text="Accounts"></Label>
      <Image src="font://&#xe964;" class="icm"></Image>
    </MDTabStripItem>
    <MDTabStripItem>
      <Label text="Settings"></Label>
      <Image src="font://&#xe994;" class="icm"></Image>
    </MDTabStripItem>
  </MDTabStrip>

  <MDTabContentItem>
    <page-router-outlet name="book"></page-router-outlet>
  </MDTabContentItem>
  <MDTabContentItem>
    <page-router-outlet name="stats"></page-router-outlet>
  </MDTabContentItem>
  <MDTabContentItem>
    <page-router-outlet name="accounts"></page-router-outlet>
  </MDTabContentItem>
  <MDTabContentItem>
    <page-router-outlet name="settings"></page-router-outlet>
  </MDTabContentItem>
</MDBottomNavigation>
